@model SampleProject.Models.Payment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPaidAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPaidAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.CName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.CName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
